In [156]:
import pandas as pd
import numpy as np

In [149]:
data = pd.read_csv('data2/all_states_all_years_reverse_coded_v1.csv')
data = pd.DataFrame(data)

data['Location Returned Split'] = data['Location Returned'].str.split(", ", expand = False)
data.head()

,Year,Date_Temp,Date,State,Region,Place,Name,Line Check,Latitude,Longitude,geometry,Location Returned,Location Returned Split
0,2015,1-Mar,3/1/2015,Johor,Kota Tinggi,Kg. Lepau,"Kg. Lepau, Kota Tinggi, Johor",1,1.389603,104.149358,POINT (104.14935756666667 1.3896034),"Jalan Sebana Cove, Kampung Lepau, Pengerang, K...","[Jalan Sebana Cove, Kampung Lepau, Pengerang, ..."
1,2015,22/9,22/9/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (103.701202 1.4966718),"Kampong Pasir, Skudai Highway, Taman Tampoi, T...","[Kampong Pasir, Skudai Highway, Taman Tampoi, ..."
2,2015,11-May,5/11/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (103.701202 1.4966718),"Kampong Pasir, Skudai Highway, Taman Tampoi, T...","[Kampong Pasir, Skudai Highway, Taman Tampoi, ..."
3,2015,11-Nov,11/11/2015,Johor,Tangkak,"Kg. Pulau Penarik, Sg. Mati","Kg. Pulau Penarik, Sg. Mati, Tangkak, Johor",1,2.137150,102.567195,POINT (102.5671953 2.1371497),"Kampung Pulau Penarek, Sungai Mati, Tangkak, J...","[Kampung Pulau Penarek, Sungai Mati, Tangkak, ..."
4,2015,11-Nov,11/11/2015,Johor,Kluang,Kg. Paya Mas,"Kg. Paya Mas, Kluang, Johor",1,1.844126,103.301476,POINT (103.3014763 1.844126),"Kampung Paya Mas, Simpang Renggam, Kluang, Joh...","[Kampung Paya Mas, Simpang Renggam, Kluang, Jo..."

In [150]:
temp = data['Location Returned Split']
temp.astype(str)

print(len(temp))
# testing
temp[0][-2]

5384

'Johor'

In [151]:
new = [None]*len(temp)
for i in range(0, len(temp)):
    new[i] = temp[i][-2]

In [152]:
new = pd.DataFrame(new, columns = ['PostalCode'])
new.head()

  PostalCode
0      Johor
1      81200
2      81200
3      84400
4      86200

In [153]:
print(new['PostalCode'][2].isnumeric())
print(new['PostalCode'][0].isnumeric())

True
False

In [154]:
data['Postal Code'] = new
data.head()

,Year,Date_Temp,Date,State,Region,Place,Name,Line Check,Latitude,Longitude,geometry,Location Returned,Location Returned Split,Postal Code
0,2015,1-Mar,3/1/2015,Johor,Kota Tinggi,Kg. Lepau,"Kg. Lepau, Kota Tinggi, Johor",1,1.389603,104.149358,POINT (104.14935756666667 1.3896034),"Jalan Sebana Cove, Kampung Lepau, Pengerang, K...","[Jalan Sebana Cove, Kampung Lepau, Pengerang, ...",Johor
1,2015,22/9,22/9/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (103.701202 1.4966718),"Kampong Pasir, Skudai Highway, Taman Tampoi, T...","[Kampong Pasir, Skudai Highway, Taman Tampoi, ...",81200
2,2015,11-May,5/11/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (103.701202 1.4966718),"Kampong Pasir, Skudai Highway, Taman Tampoi, T...","[Kampong Pasir, Skudai Highway, Taman Tampoi, ...",81200
3,2015,11-Nov,11/11/2015,Johor,Tangkak,"Kg. Pulau Penarik, Sg. Mati","Kg. Pulau Penarik, Sg. Mati, Tangkak, Johor",1,2.137150,102.567195,POINT (102.5671953 2.1371497),"Kampung Pulau Penarek, Sungai Mati, Tangkak, J...","[Kampung Pulau Penarek, Sungai Mati, Tangkak, ...",84400
4,2015,11-Nov,11/11/2015,Johor,Kluang,Kg. Paya Mas,"Kg. Paya Mas, Kluang, Johor",1,1.844126,103.301476,POINT (103.3014763 1.844126),"Kampung Paya Mas, Simpang Renggam, Kluang, Joh...","[Kampung Paya Mas, Simpang Renggam, Kluang, Jo...",86200

In [163]:
data = data[data['Postal Code'].apply(lambda x: x.isnumeric())]
data.head()

,Year,Date_Temp,Date,State,Region,Place,Name,Line Check,Latitude,Longitude,geometry,Location Returned,Location Returned Split,Postal Code
1,2015,22/9,22/9/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (103.701202 1.4966718),"Kampong Pasir, Skudai Highway, Taman Tampoi, T...","[Kampong Pasir, Skudai Highway, Taman Tampoi, ...",81200
2,2015,11-May,5/11/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (103.701202 1.4966718),"Kampong Pasir, Skudai Highway, Taman Tampoi, T...","[Kampong Pasir, Skudai Highway, Taman Tampoi, ...",81200
3,2015,11-Nov,11/11/2015,Johor,Tangkak,"Kg. Pulau Penarik, Sg. Mati","Kg. Pulau Penarik, Sg. Mati, Tangkak, Johor",1,2.137150,102.567195,POINT (102.5671953 2.1371497),"Kampung Pulau Penarek, Sungai Mati, Tangkak, J...","[Kampung Pulau Penarek, Sungai Mati, Tangkak, ...",84400
4,2015,11-Nov,11/11/2015,Johor,Kluang,Kg. Paya Mas,"Kg. Paya Mas, Kluang, Johor",1,1.844126,103.301476,POINT (103.3014763 1.844126),"Kampung Paya Mas, Simpang Renggam, Kluang, Joh...","[Kampung Paya Mas, Simpang Renggam, Kluang, Jo...",86200
5,2015,11-Nov,11/11/2015,Johor,Kluang,Kg. Sg. Linau,"Kg. Sg. Linau, Kluang, Johor",1,1.829904,103.265152,POINT (103.2651514753716 1.82990355),"Klinik Desa Kg. Sg. Linau, Jalan Imam Supian, ...","[Klinik Desa Kg. Sg. Linau, Jalan Imam Supian,...",86200

In [165]:
# export csv
data.to_csv('data2/Postal Code.csv', index=False)